*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition:  all 0.5s ease;
}

html {
  height: 100%;
}



body {
  margin: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;
}

body,
.example h1,
.example p,
.example .button {
  transition: all .2s ease-in-out;
}

body.light-theme {
  background-color: #151515;
}

body.light-theme .example h1 {
  color: #FFFFFF;
}


body.light-theme .buttons .button {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

body.light-theme .buttons .button:hover {
  color: #686868;
  background-color: #FFFFFF;
}

.example {
  font-family: 'Roboto', sans-serif;
  width: 550px;
  height: 378px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.example .flipdown {
  margin: auto;
}

.example h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.9em;
  margin-top: 0;
  margin-bottom: 10px;
}

.example p {
  text-align: center;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 35px;
  color: crimson;
}

.example .buttons {
  width: 100%;
  height: 50px;
  margin: 50px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example .buttons p {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 0px 25px 0px 0px;
  color: #a8a8a8;
  margin: 0px;
}

.example .button {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  line-height: 46px;
  text-decoration: none;
  color: #dbdbdb;
  padding: 0px 20px;
  border: solid 2px #333;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.example .button:hover {
  background-color: #333;
  color: #FFF;
}

.example .button i {
  margin-right: 5px;
}

.fondoBello {
  background-color: rgb(71, 255, 126);
}

.modal-align{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: #622cc1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  visibility: hidden;
}

#videoNutrias{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: none;
}


.modal-align h1{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: aquamarine 0px 0px 10px;
}

#si{
background-color: #15d997;
width: 100px;
height: 50px;
color: #FFF;
border: transparent;
border-radius: 60px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
}

#si:hover{
background-color: #FFF;
color: aquamarine;
border: 2px solid aquamarine;
}

#siRojo{
background-color: crimson;
width: 100px;
height: 50px;
color: #FFF;
border: transparent;
border-radius: 60px;
cursor: pointer;
font-size: 15px;
font-weight: bold;
}

#siRojo:hover{
background-color: #FFF;
color: crimson;
border: 2px solid crimson;
}

#no{
background-color: rgb(110, 110, 110);
width: 100px;
height: 50px;
color: #FFF;
border: transparent;
border-radius: 60px;
cursor: not-allowed;
font-size: 20px;
font-weight: bold;
}




@media(max-width: 550px) {
  .example {
    width: 100%;
    height: 362px;
  }

  .example h1 {
    font-size: 2.5em;
  }

  .example p {
    margin-bottom: 25px;
  }

  .example .buttons {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    display: block;
  }

  .example .buttons p,
  .example .buttons a {
    float: none;
    margin: 0 auto;
  }

  .example .buttons p {
    padding-right: 0px;
  }

  .example .buttons a {
    display: inline-block;
  }
}
